* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-blue: #255EE9;
    --color-dark: #23272A;
    --color-light: #e8e8e8;
    --color-contrast: #7289DA;
}

body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: var(--color-dark);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

p {
    line-height: 30px;
    font-size: 1.2rem;
}

.debug {
    border: 1px solid red;
}

/* background color */
.bg-blue {
    background-color: var(--color-blue);
}
.bg-light {
    background-color: var(--color-light);
}
.bg-dark {
    background-color: var(--color-dark);
}
.bg-white {
    background-color: white;
}

/* text format */
.text-white {
    color: #fff;
}

.text-contrast {
    color: var(--color-contrast);
}

.text-dark {
    color: var(--color-dark);
}

.text-center {
    text-align: center;
}

.title {
    font-size: 3rem;
}

/* utility flex */
.d-flex {
    display: flex;
}
.flex-row {
    flex-direction: row;
}
.flex-row-reverse {
    flex-direction: row-reverse;
}
.flex-col {
    flex-direction: column;
}
.flex-between {
    justify-content: space-between;
}
.flex-center {
    justify-content: center;
}
.flex-start {
    justify-content: flex-start;
}
.flex-end {
    justify-content: flex-end;
}
.items-center {
    align-items: center;
}
.flex-grow-1 {
    flex-grow: 1;
}


/* container */
.outer-container {
    border: 1px solid blue;
    max-width: 1200px;
    margin: 0 auto;
}

.inner-container {
    border: 1px solid green;
    max-width: 800px;
    margin: 0 auto;
}

/* button */
button {
   padding: 10px 13px;
   border: none;
   border-radius: 18px;
   font-size: 1rem;
}

header nav button, footer button {
    font-size: .8rem;
}

/* header */
header {
    background-image: url("../img/jumbo.png");
    background-repeat: no-repeat;
    height: 530px;
    background-size: cover;
}

header nav {
    /* background-color: #fff; */
    padding-top: 15px;
}

header nav > :first-child, header nav > :last-child {
    width: 25%;
}

#hero {
    margin: 150px auto 0 auto;
    /* background-color: green; */
}

header p {
    margin-top: 30px;
    margin-bottom: 15px;
}


/* main */
main section .image {
    width: 60%;
}

main section .content {
    flex-grow: 1;
}

#technology .image, #technology .content {
    width: 100%;
}
/* top-footer */
.left {
    float: left;
    width: 20%;
}

.top-footer {
    border-bottom: 1px solid var(--color-light);
}

.top-footer ul {
    flex-grow: 1;
}

